# Portal pendaftaran resmi SiberMu
NEXT_PUBLIC_ADMISSIONS_URL=https://admissions.sibermu.ac.id/
NEXT_PUBLIC_INFO_URL=https://sibermu.ac.id/admisi/
NEXT_PUBLIC_CONTACT_WA=6289531851105
NEXT_PUBLIC_CONTACT_EMAIL=humas@sibermu.ac.id
